/*
* Blog main style
*/

/* apple font */
.blog-font {
    font-family: -apple-system;
}

/* Footer */
.blog-footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* Index content */
.blog-content-container {
    margin-top: 2.0em;
    background-color: #fff;
}

/* Index sidebar*/
.blog-avatar-50 {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


